body{

    font-family: Open sans-serif;
    background-color: white;
    display: block;
    margin:0 auto;
    padding:20px;
    width:270px;
    height:260px;
    
}

form{

    width: auto;
    max-width: auto;
    text-align: center;
    border: solid;
    padding-bottom: 10px ;
    background-color: blue;
    border-radius:25px;
}

input{
    
    text-align: center;
}
